
body{
  margin:0;
}
.main{
  display: flex;
  flex-direction: column;
}
  
  header{
      background-image: url(../images/irish-995924_1920.jpg);
      background-position: center;
      background-size:cover;
      overflow: visible;
      color:white;
      display: flex;
      padding: 15px;
      flex-direction: column;

  }
  header > .fab{
      color: white;
      font-size: 2em;
      text-decoration: none;
      padding:5px;
  }
  
  
  .slogan > p{
    font-size: 2em;
  }
 @media on screen and (max-width: 600px)
  .slogan{
    width: 90%;
    margin: auto
  }